
/**
 * Root
 */
.ticket-item{
   padding: 0.7em 0.9em;
   border-radius: 2px;
   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
   background-color: var(--color-strong);
   transition: background-color 0.2s ease;
   overflow: hidden;
}
.ticket-item:hover{
   cursor: pointer;
   background-color: var(--color-strong-max);
}


/**
 * Status indicator
 */
.ticket-item::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 3px;
   height: 100%;
} .ticket-item[data-status="PENDING"]::before{
   background-color: #D50000;
} .ticket-item[data-status="SOLVING"]::before{
   background-color: #FFC400;
} .ticket-item[data-status="CLOSED"]::before{
   background-color: #00C853;
}


/**
 * Rows container
 */
.ticket-item > div{
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: column;
}


/**
 * Fisrt row
 */
.ticket-item > div > div:nth-of-type(1){
   display: flex;
   flex-direction: row;
   padding-bottom: 0.5em;
}
/**
 * Title span
 */
.ticket-item > div > div:nth-of-type(1) > .ticket-item-title{
   font-size: 1.05em;
   color: var(--text-color-strong);
   vertical-align: middle;
   flex-grow: 1;
}
/**
 * Dates container
 */
.ticket-item > div > div:nth-of-type(1) > .ticket-item-date-container{
   font-size: 0.7em;
   color: var(--text-color-faded-max);
   text-align: right;
}


/**
 * Second row
 */
.ticket-item > div > div:nth-of-type(2){
   display: flex;
   flex-direction: row;
}
/**
 * Description span
 */
.ticket-item > div > div:nth-of-type(2) > .ticket-item-description{
   font-size: 0.9em;
   color: var(--text-color-faded);
   flex-grow: 1;
}
/**
 * Urgency icon
 */
.ticket-item > div > div:nth-of-type(2) > .material-icons{
   font-size: 1em;
   margin-left: 0.3em;
   color: var(--icon-on-primary-color);
   padding: 0.25em;
   border-radius: 50%;
   flex-shrink: 0;
   align-self: flex-end;
} .ticket-item > div > div:nth-of-type(2) > .material-icons[data-urgency="LOW"]{
   background-color: rgba(139, 195, 74, 0.8);
} .ticket-item > div > div:nth-of-type(2) > .material-icons[data-urgency="MEDIUM"]{
   background-color: rgba(255, 193, 7, 0.8);
} .ticket-item > div > div:nth-of-type(2) > .material-icons[data-urgency="HIGH"]{
   background-color: rgba(255, 87, 34, 0.8);
} .ticket-item > div > div:nth-of-type(2) > .material-icons[data-status="CLOSED"]{
   opacity: 0.35;
}
