
/**
 * Root
 */
.custom-footer{
   padding: 0.8em 1em 1.5em 1em;
   background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 0));
   box-shadow: 0 -1em 8px -1em rgba(0, 0, 0, 0.25);
   z-index: 8;
}

/**
 * Slot container
 */
.custom-footer > div{
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: row-reverse;
}
