/**
 * The app colors
 */
:root{
   --primary-color: #0091EA;
   --mdc-theme-primary: var(--primary-color) !important;
   --accent-color: #1DE9B6;
   --mdc-theme-accent: var(--accent-color) !important;

   --color-strong-max: #FFFFFF;
   --color-strong: #FAFAFA;
   --color: #F5F5F5;
   --color-faded: #E0E0E0;

   --icon-color-strong: #212121;
   --icon-color: #424242;
   --icon-color-faded: #616161;
   --icon-on-primary-color: #F5F5F5;
   --icon-on-accent-color: #F5F5F5;

   --text-color-strong: #212121;
   --text-color: #424242;
   --text-color-faded: #757575;
   --text-color-faded-max: #BDBDBD;
   --text-on-primary-color: #FAFAFA;
   --mdc-theme-text-primary-on-primary: var(--text-on-primary-color)!important;
   --text-on-accent-color: #F5F5F5;
   --mdc-theme-text-primary-on-accent: var(--text-on-accent-color) !important;
}

/**
 * Setting the main foreground color
 */
body{
   background-color: var(--color-faded);
}

/**
 * Setting the text color
 */
:root{
   color: var(--text-color);
}
